body{
    padding:0px;
    margin:0px;
    background-color:rgb(99, 99, 99);
}

















/* Screens */
@media(max-width:519px){ /*только мобильные устройства*/

}

@media (min-width:520px) and (max-width:767px){ /*мобильные устройства в горизонтальном положении или планшеты с небольшим разрешением*/

}

@media (min-width:768px) and (max-width:991px){ /*планшеты, нетбуки, или компьютеры с небольшими разрешениями*/

}

@media (min-width:992px) and (max-width:1199px){ /*планшеты с большими экранами, компьютеры с средними разрешениями экранов*/

}

@media (min-width:1200px) and (max-width:1440px){ /*компьютеры с разрешением чуть больше среднего*/

}

@media (min-width:1441px){ /*большие экраны*/

}
